@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Este site acadêmico tem como objetivo disponibilizar conteúdos e materiais de estudo para fins educacionais.<br />
    Prezamos pela privacidade e segurança das informações de nossos usuários.</p>
