<p>
    O site acadêmico é uma plataforma digital que reúne informações sobre cursos, pesquisa e vida universitária. <br />
    Ele facilita o acesso a conteúdos educacionais, publicações científicas e serviços institucionais. <br />
    Seu objetivo é apoiar alunos, docentes e pesquisadores na construção e difusão do conhecimento.
</p>
